body {
  font-size: 16px;
}

  .output {
    font-size:22px;
    word-wrap:break-word;
    color:black;
    white-space:pre-line;}

.my-btn{
  margin-bottom:10px;
  margin-right:10px;
}

.hidden{
  display:none
}
